<h1><span style="color: #666699;"><strong>Titanic Dataset Analysis</strong></span></h1>

<div class="fig">
<div class="fig">
<h3 class="avatar-gutter ng-tns-c4029313283-104 ng-star-inserted"><span style="color: #808080;">About Titanic:</span></h3>
<h4 class="avatar-gutter ng-tns-c4029313283-104 ng-star-inserted"><span style="color: #808080;">The RMS Titanic, a luxurious British passenger liner, sank in the early hours of April 15, 1912, in the North Atlantic Ocean, during its maiden voyage from Southampton to New York City. </span></h4>
<h4 class="avatar-gutter ng-tns-c4029313283-104 ng-star-inserted"><span style="color: #808080;">It struck an iceberg, causing the "unsinkable" ship to break apart and plunge to the depths. </span></h4>
<h4 class="avatar-gutter ng-tns-c4029313283-104 ng-star-inserted"><span style="color: #808080;">Over 1,500 people died, making it one of the deadliest commercial peacetime maritime disasters in modern history. </span></h4>
<h4 class="avatar-gutter ng-tns-c4029313283-104 ng-star-inserted"><span style="color: #808080;">The story of the Titanic continues to fascinate people due to its scale and lingering questions about the disaster.</span></h4>
</div>
</div>

<div class="fig">
<div class="fig">
<pre id="taag_font_Doh" class="fig" contenteditable="true"><span style="color: #808080;">                                       
TTTTTTTTTTTTTTTTTTTTTTT  iiii          tttt                                               iiii                      
T:::::::::::::::::::::T i::::i      ttt:::t                                              i::::i                     
T:::::::::::::::::::::T  iiii       t:::::t                                               iiii                      
T:::::TT:::::::TT:::::T             t:::::t                                                                         
TTTTTT  T:::::T  TTTTTTiiiiiiittttttt:::::ttttttt      aaaaaaaaaaaaa  nnnn  nnnnnnnn    iiiiiii     cccccccccccccccc
        T:::::T        i:::::it:::::::::::::::::t      a::::::::::::a n:::nn::::::::nn  i:::::i   cc:::::::::::::::c
        T:::::T         i::::it:::::::::::::::::t      aaaaaaaaa:::::an::::::::::::::nn  i::::i  c:::::::::::::::::c
        T:::::T         i::::itttttt:::::::tttttt               a::::ann:::::::::::::::n i::::i c:::::::cccccc:::::c
        T:::::T         i::::i      t:::::t              aaaaaaa:::::a  n:::::nnnn:::::n i::::i c::::::c     ccccccc
        T:::::T         i::::i      t:::::t            aa::::::::::::a  n::::n    n::::n i::::i c:::::c             
        T:::::T         i::::i      t:::::t           a::::aaaa::::::a  n::::n    n::::n i::::i c:::::c             
        T:::::T         i::::i      t:::::t    tttttta::::a    a:::::a  n::::n    n::::n i::::i c::::::c     ccccccc
      TT:::::::TT      i::::::i     t::::::tttt:::::ta::::a    a:::::a  n::::n    n::::ni::::::ic:::::::cccccc:::::c
      T:::::::::T      i::::::i     tt::::::::::::::ta:::::aaaa::::::a  n::::n    n::::ni::::::i c:::::::::::::::::c
      T:::::::::T      i::::::i       tt:::::::::::tt a::::::::::aa:::a n::::n    n::::ni::::::i  cc:::::::::::::::c
      TTTTTTTTTTT      iiiiiiii         ttttttttttt    aaaaaaaaaa  aaaa nnnnnn    nnnnnniiiiiiii    cccccccccccccccc
</span></pre>
</div>
</div>

<h4><span style="color: #808080;">⠀⠀⠀⠀⣤⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀</span><br /><span style="color: #808080;">⠀⠀⠀⠀⣿⣿⣦⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀</span><br /><span style="color: #808080;">⠀⠀⠀⠀⣿⣿⠻⣿⣦⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣠⣤⠀⠀⠀</span><br /><span style="color: #808080;">⠀⠀⠀⢀⣿⣿⠀⠈⠻⣿⣦⡀⠀⠀⢀⣴⣿⣦⡀⠀⠀⣠⣾⡿⠋⠀⠀⠀</span><br /><span style="color: #808080;">⠀⠀⠀⣾⣿⣿⣷⣄⠀⠈⠻⣿⣦⣴⣿⠟⠉⠻⣿⣦⣾⡿⠋⠀⠀⣠⣾⡿</span><br /><span style="color: #808080;">⠀⠀⠀⢿⣿⣿⣿⣿⣷⣄⠀⠈⠻⣿⣧⣄⠀⢠⡌⠻⣿⣦⡀⣠⣾⡿⠋⠀</span><br /><span style="color: #808080;">⠀⠀⠀⠈⠻⣿⣿⣿⣿⣿⣿⣦⡀⠈⠹⢿⣷⣌⠁⢠⡌⠻⣿⣿⡋⠀⠀⠀</span><br /><span style="color: #808080;">⠀⠀⠀⠀⠀⠈⠻⣿⣿⣿⣿⣿⣿⣦⡀⠈⠙⣿⣷⣄⠀⢠⡌⠻⣿⣦⡀⠀</span><br /><span style="color: #808080;">⠀⠀⠀⠀⠀⠀⠀⠈⠻⣿⣿⣿⣿⣿⣿⣦⡀⠀⠛⢿⣷⣄⠀⣤⠈⠻⣿⣦</span><br /><span style="color: #808080;">⠀⠀⠀⣀⡀⠀⠀⠀⢀⡈⠻⣿⡿⢛⡛⠿⠿⠀⢀⡀⠙⢿⠇⢀⣀⠀⠈⠉</span><br /><span style="color: #808080;">⢠⣶⣶⣿⣷⣶⣶⣶⣿⣿⣶⣶⣶⣿⣿⣶⣶⣶⣿⣿⣶⣶⣶⣾⣿⣶⣶⡄</span><br /><span style="color: #808080;">⠈⠋⠉⠀⠈⠉⠋⠉⠁⠈⠉⠛⠉⠁⠈⠉⠛⠉⠁⠈⠉⠙⠉⠁⠀⠉⠙⠁</span></h4>

<h1><span style="color: #808080;">Problem Statement</span></h1>
<h4><span style="color: #808080;"><strong>Perform exploratory data analysis on TITANIC Dataset </strong> from Seaborn and provide necessary findings on relation among variables in the data. <br> <strong>Target variable is survival</strong></span></h4>

<h1><span style="color: #808080;">Import Necessary Libraries</span></h1>

<ul>
<li ><span style="color: #808080;">numpy (np): Provides efficient numerical computation tools.</span></li>
<li ><span style="color: #808080;">pandas (pd): Offers data manipulation and analysis structures (DataFrames, Series).</span></li>
<li ><span style="color: #808080;">seaborn (sns): Creates informative statistical data visualizations based on Matplotlib.</span></li>
<li ><span style="color: #808080;">matplotlib.pyplot (plt): Enables various plot creations for data visualization.</span></li>
<li ><span style="color: #808080;">%matplotlib inline (Jupyter Notebook specific): Displays plots within the notebook.</span></li>
<li ><span style="color: #808080;">warnings (with warnings.filterwarnings("ignore")): Suppresses warnings.</span></li>
</ul>

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings("ignore")

<div class="fig">
<div class="fig">
<h1 class="avatar-gutter ng-tns-c4029313283-104 ng-star-inserted"><span style="color: #808080;">Load Titanic dataset</span></h1>
</div>
</div>

<div >
<ul>
<li ><span style="color: #808080;"> df = sns.load_dataset("titanic") - Loads the "titanic" dataset from seaborn as df.</span></li>
<li ><span style="color: #808080;">df.to_csv(r"Data.csv") - Saves the entire dataset as a CSV file named "Data.csv" (Helps to check or view the data in excel format).</span></li>
</ul>
</div>

In [ ]:
df = sns.load_dataset("titanic")
# df.to_csv(r"Data.csv")

<div class="fig">
<div class="fig">
<h3 class="avatar-gutter ng-tns-c4029313283-104 ng-star-inserted"><span style="color: #808080;">Description of Variables</span></h3>
</div>
</div>

<table style="height: 374px; width: 349px;">
<tbody>
<tr style="height: 18px;">
<td style="width: 116.75px; height: 18px; padding-left: 30px;"><strong>Variable</strong></td>
<td style="width: 160.85px; height: 18px; padding-left: 30px;"><strong>Description</strong></td>
</tr>
<tr style="height: 1.03334px;">
<td style="width: 145.75px; height: 1.03334px;"><span style="color: #808080;">Survived and Alive</span></td>
<td style="width: 189.85px; height: 1.03334px;"><span style="color: #999999;"><em>Describes whether person is alive or not</em></span></td>
</tr>
<tr style="height: 34px;">
<td style="width: 145.75px; height: 34px;"><span style="color: #808080;">Pclass and Class</span></td>
<td style="width: 189.85px; height: 34px;"><span style="color: #999999;"><em>Describes passenger class</em></span></td>
</tr>
<tr style="height: 34px;">
<td style="width: 145.75px; height: 34px;"><span style="color: #808080;">Sex, Who and Adult_Male</span></td>
<td style="width: 189.85px; height: 34px;"><span style="color: #999999;"><em>Describes gender and age group</em></span></td>
</tr>
<tr style="height: 34px;">
<td style="width: 145.75px; height: 34px;"><span style="color: #808080;">Age</span></td>
<td style="width: 189.85px; height: 34px;"><span style="color: #999999;"><em>Gives info of Age</em></span></td>
</tr>
<tr style="height: 34px;">
<td style="width: 145.75px; height: 34px;"><span style="color: #808080;">Sibsp and Parch</span></td>
<td style="width: 189.85px; height: 34px;"><span style="color: #999999;"><em>Give count of Sibling, Spouse and Parents, Children</em></span></td>
</tr>
<tr style="height: 34px;">
<td style="width: 145.75px; height: 34px;"><span style="color: #808080;">Fare</span></td>
<td style="width: 189.85px; height: 34px;"><span style="color: #999999;"><em>Gives info of Ticket price paid for voyage</em></span></td>
</tr>
<tr style="height: 34px;">
<td style="width: 145.75px; height: 34px;"><span style="color: #808080;">Embarked and Embark_town</span><br /><br /></td>
<td style="width: 189.85px; height: 34px;"><span style="color: #999999;"><em>Gives details of embarkation town</em></span></td>
</tr>
<tr style="height: 34px;">
<td style="width: 145.75px; height: 34px;"><span style="color: #808080;">Deck</span></td>
<td style="width: 189.85px; height: 34px;"><span style="color: #999999;"><em>Deck of passenger</em></span></td>
</tr>
<tr style="height: 34px;">
<td style="width: 145.75px; height: 34px;"><span style="color: #808080;">Alone</span></td>
<td style="width: 189.85px; height: 34px;"><span style="color: #999999;"><em>Gives details of accompanied travel</em></span></td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>

<div class="fig">
<div class="fig">
<h1 class="avatar-gutter ng-tns-c4029313283-104 ng-star-inserted"><span style="color: #808080;">Data Peperation</span></h1>
</div>
</div>

In [ ]:
df.head(2)

<p data-sourcepos="3:1-3:41"><span style="color: #ffcc00;">Code Explanation:</span></p>
<h4 ><span style="color: #808080;">df.head() -  Displays the first few rows using head()</span></h4>

In [ ]:
df.tail(2)

<p data-sourcepos="3:1-3:41"><span style="color: #ffcc00;">Code Explanation:</span></p>
<h4 ><span style="color: #808080;">df.tail() - Displays the last few rows using tail()</span></h4>

In [ ]:
df.shape

<p data-sourcepos="3:1-3:41"><span style="color: #ffcc00;">Code Explanation:</span></p>
<h4 ><span style="color: #808080;">df.shape is used to get the dimensions (number of rows and columns) of data</span></h4>

In [ ]:
df.size

<p data-sourcepos="3:1-3:41"><span style="color: #ffcc00;">Code Explanation:</span></p>
<h4 id="df.tail()----Displays-the-last-few-rows-using-tail()" class="avatar-gutter ng-tns-c4029313283-104 ng-star-inserted"><span style="color: #808080;">df.size is used to get the total number of elements in a pandas</span></h4>

In [ ]:
df.columns.tolist()

<p data-sourcepos="3:1-3:41"><span style="color: #ffcc00;">Code Explanation:</span></p>
<h4 ><span style="color: #808080;">df.columns.tolist() is used to get a list of column names from data</span></h4>

In [ ]:
df.info()

<p data-sourcepos="3:1-3:41"><span style="color: #ffcc00;">Code Explanation:</span></p>
<h4 ><span style="color: #808080;">df.info() - used to display concise information about</span></h4>
<ul>
<li ><span style="color: #808080;">Dimensions: The total number of rows and columns in the DataFrame or data.</span></li>
<li ><span style="color: #808080;">Column Data Types: The data type of each column (e.g., integer, float, string, etc.).</span></li>
<li ><span style="color: #808080;">Non-Null Counts: The number of non-null (not missing) values in each column.</span></li>
<li ><span style="color: #808080;">Memory Usage: An estimate of the memory usage of the DataFrame or data.</span></li>
<ul>

<p><strong><span style="color: #99cc00;">Interpretation:</span></strong></p>
<ul>
<li><span style="color: #808080;">There are null values present in columns like age and deck, now data will need further data cleaning</span></li>
<li><span style="color: #808080;">There are 15 columns with various data types</span></li>
</ul>

In [ ]:
# Basic summary statistics
df.describe().T

<p data-sourcepos="3:1-3:41"><span style="color: #ffcc00;">Code Explanation:</span></p>
<h4 ><span style="color: #808080;">df.describe().T applied to a DataFrame df which providies a summary of numerical columns.<br>.T -transposes the output</span></h4>

<p><strong><span style="color: #99cc00;">Interpretation:</span></strong></p>
<ul>
<li><span style="color: #808080;">There are 6 numarical columns</span></li>
<li><span style="color: #808080;">Missing values noted in age column</span></li>
</ul>

In [ ]:
df.describe(include='all').T

<p data-sourcepos="3:1-3:41"><span style="color: #ffcc00;">Code Explanation:</span></p>
<h4 ><span style="color: #808080;">df.describe().T applied to a DataFrame df which providies a summary of numerical columns and categorical columns.<br>.T -transposes the output</span></h4>

In [ ]:
df.nunique()

<p data-sourcepos="3:1-3:41"><span style="color: #ffcc00;">Code Explanation:</span></p>
<h4 ><span style="color: #808080;">df.nunique() - Counts the number of unique values in each column</span></h4>

<h4 ><span style="color: #808080;">Finding unique values in each column</span></h4>

In [ ]:
for col in df.columns:
    print(col)
    print(df[col].unique())

<p><strong><span style="color: #99cc00;">Interpretation:</span></strong></p>
<ul>
<li><span style="color: #808080;">There are NAN values present in columns like embarked, deck and embark_town. These columns should be taken care in data cleaning</span></li>
</ul>

<div class="fig">
<div class="fig">
<h1 class="avatar-gutter ng-tns-c4029313283-104 ng-star-inserted"><span style="color: #808080;">Data Cleaning</span></h1>
</div>
</div>

<h4 ><span style="color: #808080;">Finding Null values in each column</span></h4>

In [ ]:
df.isnull().sum()
# df.isna().sum()

In [ ]:
df.notnull().sum()

<p data-sourcepos="3:1-3:41"><span style="color: #ffcc00;">Code Explanation:</span></p>
<h4 ><span style="color: #808080;">df.notnull().sum() - Gives sum of all not null unique values in each column</span></h4>

<p><strong><span style="color: #99cc00;">Interpretation:</span></strong></p>
<p><strong><span style="color: #808080;">From data prepration we have identified and confirmed from df.isnull().sum()that :</span></strong></p>
<ul>
<li><span style="color: #808080;">NAN values are present in below columns </span></li>
    <ul>
        <li><span style="color: #808080;">embarked, deck, age and embark_town</span></li>
    </ul>
</ul>

<p><strong><span style="color: #808080;">Handle Missing data:</span></strong></p>
<li>
    <ul>
        <li><span style="color: #808080;">Age has 117 missing values out of 891 columns. we have option to delete entire rows but it accounts to 13% of data. So we have optoin to do imputation with average age. But we have also noticed that age column is related to the gender column. It is better to populate age data as per gender of the person, this maintains data integrity.</span></li>
    </ul>
    
</li>

<h4 ><span style="color: #808080;">Calculating average basd on gender</span></h4>

In [ ]:
df.groupby(["sex"]).agg({"age":["sum","mean","min","max"]}).round(0)

<p data-sourcepos="3:1-3:41"><span style="color: #ffcc00;">Code Explanation:</span></p>
<h4 ><span style="color: #808080;">df.groupby(["sex"]).agg({"age":["sum","mean","min","max"]}).round(0) -  code calculates summary statistics for the 'age' column of a DataFrame (df) grouped by the 'sex' column</span></h4>

<p><strong><span style="color: #99cc00;">Interpretation:</span></strong></p>
<p><strong><span style="color: #808080;">Calculating average basd on gender</span></strong></p>
<ul>
<li><span style="color: #808080;">df.groupby(["sex"]).agg({"age":["sum","mean","min","max"]}).round(0) - Gives average age based on gender: </span></li>
    <ul>
        <li><span style="color: #808080;">male : 31 years</span></li>
        <li><span style="color: #808080;">female : 28 years</span></li>
    </ul>
</ul>
<p><span style="color: #808080;">We further use this gender based age to replace all NAN values in age w.r.t gender</span></p>

<h4 ><span style="color: #808080;">Replacing NAN values in Age based on gender</span></h4>

In [ ]:
df.loc[df['age'].isna(), 'age'] = df[df['age'].isna()]['sex'].apply(lambda x: 31 if x == 'male' else 28)
# df.to_csv(r"Data_age_cleaned.csv")

<p data-sourcepos="3:1-3:41"><span style="color: #ffcc00;">Code Explanation:</span></p>
<p><span style="color: #808080;">df.loc[df['age'].isna(), 'age'] = df[df['age'].isna()]['sex'].apply(lambda x: 31 if x == 'male' else 28)</span></p>
<p><span style="color: #808080;">df.loc[df['age'].isna(), 'age']:</span></p>
<ul>
<li><span style="color: #808080;">df. loc: selects rows from the DataFrame df based on specific conditions.</span></li>
<li><span style="color: #808080;">df['age'].isna(): This condition checks for missing values (NaN) in the 'age' column. It creates a Series of True/False values indicating which rows have missing ages.</span></li>
<li><span style="color: #808080;">, 'age': we only want to select specifically the 'age' column with NAN</span></li>
</ul>
<p><span style="color: #808080;">= df[df['age'].isna()]['sex'].apply(...):</span></p>
<ul>
<li><span style="color: #808080;">df[df['age'].isna()]: This part is the same as before, selecting only the rows with missing 'age' values.</span></li>
<li><span style="color: #808080;">['sex']: This selects the 'sex' column from the filtered DataFrame containing only rows with missing ages.</span></li>
<li><span style="color: #808080;">.apply(...): This applies a function (defined in the parentheses) to each value in the selected 'sex' column (which only has rows with missing ages).</span></li>
</ul>
<p><span style="color: #808080;">lambda x: 31 if x == 'male' else 28:</span></p>
<ul>
<li><span style="color: #808080;">lambda x: ...: (lambda function) takes a single argument x. This function will be applied to each value in the 'sex' column of the filtered rows.</span></li>
<li><span style="color: #808080;">x: This represents the current value (gender) being processed from the 'sex' column within the loop.</span></li>
<li><span style="color: #808080;">31 if x == 'male' else 28: This is a conditional expression that determines the value to be assigned based on gender (x):</span></li>
<li><span style="color: #808080;">If x (the current gender) is equal to 'male', the function returns 31.</span></li>
<li><span style="color: #808080;">Otherwise, it returns 28.</span></li>
</ul>

<h4 ><span style="color: #808080;">Verfy if NAN values are there in Age column</span></h4>

In [ ]:
df.isnull().sum()

<p data-sourcepos="3:1-3:41"><span style="color: #ffcc00;">Code Explanation:</span></p>
<h4 ><span style="color: #808080;">df.isnull().sum() - Gives all null values in each column</span></h4>

<p><strong><span style="color: #99cc00;">Interpretation:</span></strong></p>
<p><strong><span style="color: #808080;">Now lets delete deck column because it has 688 entries, which accounts to ~77% of data. Its not logical to find any meaningful insigts form it</span></strong></p>

<h4 ><span style="color: #808080;">Removing Deck column</span></h4>

In [ ]:
# removing one column
df=df.drop('deck', axis=1)
df.head(1)

<p data-sourcepos="3:1-3:41"><span style="color: #ffcc00;">Code Explanation:</span></p>
<h4 ><span style="color: #808080;">df=df.drop('deck', axis=1) - Delete single column</span></h4>

<p><strong><span style="color: #99cc00;">Interpretation:</span></strong></p>
<ul>
<li><span style="color: #808080;">We can also remove other colums like: </span></li>
    <ul>
        <li><span style="color: #808080;">survived column: It holds same values as alive column</span></li>
        <li><span style="color: #808080;">pclass : It holds same values as class column</span></li>
        <li><span style="color: #808080;">embarked : It holds same values as embark_town</span></li>
    </ul>
</ul>

<h4 ><span style="color: #808080;">Removing Survived, Pclass and Embarked column</span></h4>

In [ ]:
# removing multiple column
columns_remove = ['embarked','survived','pclass']
df = df.drop(columns = columns_remove)

<p data-sourcepos="3:1-3:41"><span style="color: #ffcc00;">Code Explanation:</span></p>
<h4 ><span style="color: #808080;">columns_remove = ['embarked','survived','pclass'] - Delete multiple column</span></h4>

<h4 ><span style="color: #808080;">Verfying if columns 'embarked', 'survived', 'pclass' are there in df</span></h4>

In [ ]:
df.columns

<h4 ><span style="color: #808080;">Verfying if any missing values present in data</span></h4>

In [ ]:
df.isnull().sum()

<p><strong><span style="color: #99cc00;">Interpretation:</span></strong></p>
<ul>
<li><span style="color: #808080;">We have 2 missing values in embark_town column </span></li>

<h4 ><span style="color: #808080;">Filling the missing values in embark_town</span></h4>

In [ ]:
df.groupby(["embark_town"]).count()

<p><strong><span style="color: #99cc00;">Interpretation:</span></strong></p>
<ul>
<li><span style="color: #808080;">We can replace missing values with Southampton(most repeated values in the column) </span></li>

In [ ]:
df['embark_town']=df['embark_town'].fillna(df['embark_town'].mode()[0])

<p data-sourcepos="3:1-3:41"><span style="color: #ffcc00;">Code Explanation:</span></p>
<h4 ><span style="color: #808080;">df['embark_town']=df['embark_town'].fillna(df['embark_town'].mode()[0])<br>
    Code ensures there are no missing embarkation town values by replacing them with the most common embarkation town found in the data
</span></h4>

<h4 ><span style="color: #808080;">Verfying if any missing values present in data</span></h4>

In [ ]:
df.isnull().sum()

<p><strong><span style="color: #99cc00;">Interpretation:</span></strong></p>
<ul>
<li><span style="color: #808080;">Now data does not have any missing values</span></li>

<h4 ><span style="color: #808080;">Verfying any duplicate rows present in data</span></h4>

In [ ]:
# df[df.duplicated()] #shows duplicated rows

In [ ]:
df.duplicated().sum() #Gives sum of all duplicated rows

<p><strong><span style="color: #99cc00;">Interpretation:</span></strong></p>
<p><strong><span style="color: #808080;">There are duplicate 114 rows present in the data.</span></strong></p>
<ul>
<li><span style="color: #808080;">There are duplicate rows present in the data. do we have to delete it?</span></li>
    <ul>
    <li><span style="color: #808080;">It is noted that there are no colums which specifies unique ID</span></li>
    <li><span style="color: #808080;">These rows may seem duplicated, (Eg. fare could be same for all classes for peple with diffrent gender, or multiple person with same age group could be there, or same age group person could have boarded at specific embark town)but without unique ID we cannot delete those rows</span></li>
    </ul>
<p><strong><span style="color: #808080;">So we are not removing duplicate rows.</span></strong></p>
<ul>
</ul>

<p data-sourcepos="3:1-3:41"><span style="color: #ffcc00;">Code Explanation:</span></p>
<p><span style="color: #808080;">if we wanted to remove duplice rows and delete/fill NAN we can use below codes:</span></p>
    <ul>
    <li><span style="color: #808080;">df = df.drop_duplicates()</span></li>
    <li><span style="color: #808080;">df = df.drop_duplicates(inplace=True) - to remove permanently in source data</span></li>
    <li><span style="color: #808080;">df = data.dropna()</span></li>
    <li><span style="color: #808080;">df.fillna(1, inplace=True)</span></li>    
    </ul>

<h4 ><span style="color: #808080;">Renaming of columns</span></h4>
<ul>
    <li><span style="color: #808080;">rename sex to gender</span></li>
    <li><span style="color: #808080;">df = df.drop_duplicates(inplace=True) - to remove permanently in source data</span></li>
    </ul>

<div class="fig">
<div class="fig">
<h1 class="avatar-gutter ng-tns-c4029313283-104 ng-star-inserted"><span style="color: #808080;">Feature Engineering</span></h1>
</div>
</div>

<h4 ><span style="color: #808080;">Creating New columns</span></h4>
<ul>
    <li><span style="color: #808080;">Family size = [SibSp: number of siblings/spouse] + [Parch: number of childre/parents]</span></li>
</ul>
<p><span style="color: #808080;">We are creating a new feature named family size</span></p>

In [ ]:
df["family_size"] = df["sibsp"] + df["parch"]
df.head(2)

<p data-sourcepos="3:1-3:41"><span style="color: #ffcc00;">Code Explanation:</span></p>
<h4 ><span style="color: #808080;">df["family_size"] = df["sibsp"] + df["parch"] <br>
Creates a new column by adding existing columns</span></h4>

<h4 ><span style="color: #808080;">Renaming few columns</span></h4>
<ul>
    <li><span style="color: #808080;">rename sex column as gender</span></li>
</ul>

In [ ]:
df=df.rename(columns={'sex':'gender'}) #rename a column
df.head(2)

<p><strong><span style="color: #99cc00;">Interpretation:</span></strong></p>
<p><strong><span style="color: #808080;">Data is cleaned as per requirement for analysis</span></strong></p>
<ul>

<div class="fig">
<div class="fig">
<h1 class="avatar-gutter ng-tns-c4029313283-104 ng-star-inserted"><span style="color: #808080;">Analysis [Univariate Analysis]</span></h1>
</div>
</div>

<h4 ><span style="color: #808080;"><strong>Univariate analysis of categorical variable<strong></span></h4>

<h4 ><span style="color: #808080;">Distribution of gender</span></h4>

In [ ]:
gender_counts = df['gender'].value_counts()
gender_counts
plt.figure(figsize=(2, 2))  # Set figure size
# sns.set_style("whitegrid")  # Optional: Set chart style
explode = [0.1, 0]
# palette_color = seaborn.color_palette('bright') 
# plt.pie(gender_counts, labels=gender_counts.index, explode=explode, colors=palette_color, autopct="%1.1f%%")  # Plot pie chart with labels and percentages
plt.pie(gender_counts, labels=gender_counts.index, explode=explode,autopct="%1.1f%%") 
plt.title("Distribution of Gender")
plt.show();

<p><strong><span style="color: #99cc00;">Interpretation:</span></strong></p>
<p><strong><span style="color: #808080;">Titanic carried ~65% of male gender</span></strong></p>
<ul>

<h4 ><span style="color: #808080;">Distribution of Who(male, female and child)</span></h4>

In [ ]:
who_counts = df['who'].value_counts()

plt.figure(figsize=(3, 3))  # Set figure size
sns.set_style("whitegrid")  # Optional: Set chart style
explode = [0.1, 0, 0] #explode first value by 10%
plt.pie(who_counts, labels=who_counts.index, explode=explode, autopct="%1.1f%%") #plots pie chart
plt.title("Distribution of man, vs. women vs. child") #Title
plt.show() # plot the graph

<p><strong><span style="color: #99cc00;">Interpretation:</span></strong></p>
<p><strong><span style="color: #808080;">Titanic carried ~60% of men</span></strong></p>
<ul>

<h4 ><span style="color: #808080;">Distribution of Adults male vs. (Female + children)</span></h4>

In [ ]:
adult_male_counts = df['adult_male'].value_counts()  # Count occurrences of True/False

# Create a dictionary to map True/False to "Adults" and "Non Adults"
label_mapping = {True: "Adult Male", False: "Female & children"}

# Apply the mapping to the index of adult_male_counts
adult_male_counts_labeled = adult_male_counts.rename(index=label_mapping)

plt.figure(figsize=(3, 3)) # Sets the figure size
explode = [0.1, 0]
plt.pie(adult_male_counts_labeled, labels=adult_male_counts_labeled.index, explode=explode, autopct="%1.1f%%") #Annote values with a single decimal
plt.title("Distribution of Adults vs. Non Adults") # Title
plt.show() #Show graph

<p><strong><span style="color: #99cc00;">Interpretation:</span></strong></p>
<p><strong><span style="color: #808080;">Titanic carried ~60% of Adults male and 40% of Female + children</span></strong></p>
<ul>

<h4 ><span style="color: #808080;">Distribution of Solo Travel vs. Accompanied Travel</span></h4>

In [ ]:
alone_counts = df['alone'].value_counts()  # Count occurrences of True/False

# Create a dictionary to map True/False to "Adults" and "Non Adults"
label_mapping = {True: "Solo Travel", False: "Accompanied travel"}

# Apply the mapping to the index of adult_male_counts
alone_counts_labeled = alone_counts.rename(index=label_mapping)

plt.figure(figsize=(3, 3)) # set figure size
explode = [0.1, 0] # explode first value in graph by 10%
plt.pie(alone_counts_labeled, labels=alone_counts_labeled.index, explode=explode, autopct="%1.1f%%") #plot pie chart with labels, autopct="%1.1f%%"- gives single decimal annotation
# plt.title("Distribution of Solo Travel vs. Accompanied Travel") Title
plt.show() # plot graph

<p><strong><span style="color: #99cc00;">Interpretation:</span></strong></p>
<p><strong><span style="color: #808080;">~60% are Solo travelers in Titanic Voyage</span></strong></p>
<ul>

<h4 ><span style="color: #808080;">Distribution of Embarkation Town</span></h4>

In [ ]:
embark_town_counts = df['embark_town'].value_counts()
plt.figure(figsize=(3, 3)) # set figure size
sns.set_style("darkgrid") #set style
explode = [0.1, 0, 0] # explode
plt.pie(embark_town_counts, labels=embark_town_counts.index, explode=explode, autopct="%1.1f%%")  # Plot pie chart with labels and percentages
plt.title("Distribution of Embarkation Town") # Title
plt.show() # Plot graph

<p><strong><span style="color: #99cc00;">Interpretation:</span></strong></p>
<p><strong><span style="color: #808080;">~73% of passengers have embarked from Southampton, ~19% from Cherbourg & ~9% from Queens town</span></strong></p>
<ul>

<h4 ><span style="color: #808080;">Distribution different classes in Titanic</span></h4>

In [ ]:
class_counts = df['class'].value_counts()

plt.figure(figsize=(3, 3)) # set figure size
sns.set_style("whitegrid") #select style
explode = [0.1, 0, 0] # set explode for values
plt.pie(class_counts, labels=class_counts.index, explode=explode, autopct="%1.1f%%")  # Plot pie chart with labels and percentages
plt.title("Distribution different classes in Titanic") # Title
plt.show() # Plot graph

<p><strong><span style="color: #99cc00;">Interpretation:</span></strong></p>
<p><strong><span style="color: #808080;">Titanic carried ~55% of passengers in third class, 21% from second class and 24% from third class</span></strong></p>
<ul>

<h4 ><span style="color: #808080;">Distribution of Alive vs. Titanic victims</span></h4>

In [ ]:
alive_counts = df['alive'].value_counts()  # Count occurrences of True/False

# Create a dictionary to map True/False to "Adults" and "Non Adults"
label_mapping = {"yes": "Alive", "no": "Titanic victims"}

# Apply the mapping to the index of adult_male_counts
alive_counts_labeled = alive_counts.rename(index=label_mapping)

plt.figure(figsize=(3, 3)) # set figure size
explode = [0.1, 0]
plt.pie(alive_counts_labeled, labels=alive_counts_labeled.index, explode=explode, autopct="%1.1f%%")
plt.title("Distribution of Alive vs. Titanic victims")
plt.show()

<p><strong><span style="color: #99cc00;">Interpretation:</span></strong></p>
<p><strong><span style="color: #808080;">Almost 62% of passengers deceased in Titanic disaster</span></strong></p>
<ul>

<h4 ><span style="color: #808080;"><strong>Univariate analysis of Numerical variable<strong></span></h4>

<h4 ><span style="color: #808080;">Distribution of Age among passengers</span></h4>

In [ ]:
fig, (ax1, ax2) = plt.subplots(2)
ax1.hist(df['age']) #plot histogram
ax1.set(title='Age Distribution', ylabel='count') #Assign labels and title

ax2.boxplot(df['age'], labels=['All'], vert=False, showmeans=True, showfliers=True)  # Show means as diamonds & plot box plot
ax2.set(ylabel='age',xlabel='age'); #Assign labels and title

display(df["age"].describe())

<p><strong><span style="color: #99cc00;">Interpretation:</span></strong></p>
<p><strong><span style="color: #808080;">Age is almost normally distributed (mean and median are very close). Ranging from infants to 80-year-old passengers</span></strong></p>
<ul>

<h4 ><span style="color: #808080;">Distribution of siblings and spouse</span></h4>

In [ ]:
sibsp_plot=df["sibsp"].value_counts()
display(sibsp_plot)
# creates a DataFrame that shows the number of passengers who had a specific number of siblings/spouses (sibsp) on board the Titanic

<p><strong><span style="color: #99cc00;">Interpretation:</span></strong></p>
<p><strong><span style="color: #808080;">Majority of people are accompanied by single family member.
   <br> Note: 0 specifies solo travel</span></strong></p>
<ul>

<h4 ><span style="color: #808080;">Distribution of accompanied passengers (by siblings, spouse, parents and children)</span></h4>

In [ ]:
fig, axs = plt.subplots(nrows=1, ncols=2, figsize=(10, 3))  # Corrected variable name (axs)

sns.histplot(df['parch'], ax=axs[0], kde=True)  # Include kernel density estimation (optional)
sns.histplot(df['sibsp'], ax=axs[1], kde=True)   # Include kernel density estimation (optional)

# Customize labels and title
fig.suptitle('Distribution of Accompanied Passengers on the Titanic', fontsize=14, fontweight='bold')
axs[0].set_xlabel('Number of Parents/Children (Parch)', fontsize=12)
axs[1].set_xlabel('Number of Siblings/Spouses (SibSp)', fontsize=12)
axs[0].set_ylabel('Frequency', fontsize=12)
axs[1].set_ylabel('Frequency', fontsize=12)

# Set x-axis limits
axs[0].set_xlim([1, 8])
axs[1].set_xlim([1, 8])

plt.tight_layout()
plt.show()

<p><strong><span style="color: #99cc00;">Interpretation:</span></strong></p>
<p><strong><span style="color: #808080;">Majority of people are accompanied by either parents and children, compared to siblings or spouse.
   <br> Note: 0 specifies solo travel and it is ignored for observing acompanied travel</span></strong></p>
<ul>

<h4 ><span style="color: #808080;">Distribution of Fare among passengers</span></h4>

In [ ]:
fig, (ax1, ax2) = plt.subplots(2, figsize=(10,3)) # set figure size

# Plot histogram
ax1.hist(df['fare'])
ax1.set(title='Fare Distribution', xlabel='fare', ylabel='count')

# Plot Boxplot
ax2.boxplot(df['fare'], labels=['All'], vert=False, showfliers=True)
ax2.set(ylabel='fare');

# Summary stats of fare
print("summary stas of Fare:")
display(df["fare"].describe().round(1))

<p><strong><span style="color: #99cc00;">Interpretation:</span></strong></p>
<p><strong><span style="color: #808080;">Average price paid for voyage is $32 (USD). $14 (USD) is the most purchased ticket</span></strong></p>
<ul>

<h4 ><span style="color: #808080;">Family Size Distribution</span></h4>

In [ ]:
fig, (ax1) = plt.subplots(1,figsize=(10,2)) # set figure size

# Plot Histogram with labels and title
sns.histplot(df['family_size'], color = "skyblue", kde=True)
plt.xlabel('Family Size')
plt.ylabel('Count')
plt.title('Family Size Distribution')
plt.show()

<p><strong><span style="color: #99cc00;">Interpretation:</span></strong></p>
<p><strong><span style="color: #808080;">Solo travelers has highest head count. Followed by single companions and so on...</span></strong></p>
<ul>

<div class="fig">
<div class="fig">
<h1 class="avatar-gutter ng-tns-c4029313283-104 ng-star-inserted"><span style="color: #808080;">Analysis [Bi-Variate Analysis]</span></h1>
</div>
</div>

<h4 ><span style="color: #808080;">Distribution of Age vs. Gender</span></h4>

In [ ]:
# plot histogram for age and gender as second variable
sns.displot(data=df, x='age', hue='gender', aspect=2)
plt.title("Distribution of Age vs. Gender");

<p><strong><span style="color: #99cc00;">Interpretation:</span></strong></p>
<p><strong><span style="color: #808080;">Male gender has more head count compared to female in all the age groups. Significant head count of female passengers are observed in age group of 29</span></strong></p>
<ul>

<h4 ><span style="color: #808080;">Distribution of Gender vs. Type of Passenger</span></h4>

In [ ]:
# Create and print a cross table/Contigency table of 2 varaibles
gender_by_who = pd.crosstab(df['who'], 
                         df['gender'], 
                         values=df['age'], 
                         aggfunc='count',
                           normalize="columns")*100
gender_by_who

In [ ]:
# Create and print a cross table/Contigency table of 2 varaibles
gender_by_who = pd.crosstab(df['who'], 
                         df['gender'], 
                         values=df['gender'], 
                         aggfunc='count',
                           normalize="index")

gender_by_who_pct=gender_by_who.style.format("{:.0%}") #show as percentage
display(gender_by_who_pct)

# PLot heat map
print("\nValues in count:")
plt.figure(figsize=(4,2.5)) # set figure size
sns.heatmap((gender_by_who)*100, annot=True, fmt='.0f', cmap="YlGnBu")
plt.title("Distribution of Gender vs. Type of Passenger")
plt.show()

<p><strong><span style="color: #99cc00;">Interpretation:</span></strong></p>
<p><strong><span style="color: #808080;">Children are almost distributed equally in terms of gender (male - 52% and female - 48%)</span></strong></p>
<ul>

<h4 ><span style="color: #808080;">Distribution of Gender vs. Travel Type(Class)</span></h4>

In [ ]:
# Create and print a cross table of 2 varaibles
gender_by_class = pd.crosstab(df['class'], 
                         df['gender'], 
                         values=df['class'], 
                         aggfunc='count',
                             normalize="index")
display(gender_by_class.style.format("{:.0%}")) #Show as percentage

# PLot heat map
print("\nValues in %:")
fig, ax = plt.subplots(figsize=(3,2.5)) # set figure size
sns.heatmap((gender_by_class)*100, annot=True, fmt='.0f', cmap="icefire")
plt.title("Distribution of Gender vs. Class")
ax.set_ylabel('Class')
ax.set_xlabel('Gender');

<p><strong><span style="color: #99cc00;">Interpretation:</span></strong></p>
<p><strong><span style="color: #808080;">Female travelers prefers to travel in First and second class. Whereas male passengers prefer third class. (This could be based on affordability of passengers and comfort) </span></strong></p>
<ul>

<h4 ><span style="color: #808080;">Distribution of Gender vs. Embarkation Town</span></h4>

In [ ]:
# Create and print a cross table of 2 varaibles
print("Values in count:")
gender_by_embark_town = pd.crosstab(df['embark_town'], 
                         df['gender'], 
                         values=df['gender'], 
                         aggfunc='count')
display(gender_by_embark_town)

# Calculate percentages (normalize by row or column totals)
gender_by_embark_town_pct = (gender_by_embark_town.div(gender_by_embark_town.sum(axis=1), axis=0) * 100).round(2)
print("\n Values in %:")
print(gender_by_embark_town_pct)
print("\n Values in %:")
(gender_by_embark_town_pct).style.background_gradient(cmap= "Spectral") # Highlight cells based on values

<p><strong><span style="color: #99cc00;">Interpretation:</span></strong></p>
<p><strong><span style="color: #808080;">Southampton has notable male passengers. Queenstown & Cherbourg has almost equal distribution of gender</span></strong></p>
<ul>

<h4 ><span style="color: #808080;">Distribution of Mortality vs. Gender</span></h4>

In [ ]:
# Create and print a cross table of 2 varaibles
gender_by_alive = pd.crosstab(df['alive'], 
                         df['gender'], 
                         values=df['gender'], 
                         aggfunc='count',
                             normalize = "index")
display(gender_by_alive.style.format("{:.0%}")) # show values as %
print("\n Values in count:")

gender_by_alive_count = pd.crosstab(df['alive'], 
                         df['gender'], 
                         values=df['gender'], 
                         aggfunc='count')

# Highlight cells based on values
gender_by_alive_count.style.background_gradient(cmap= "rocket_r")

<p><strong><span style="color: #99cc00;">Interpretation:</span></strong></p>
<p><strong><span style="color: #808080;">It is clear that 68% are female survivors, compared to male </span></strong></p>
<ul>

<h4 ><span style="color: #808080;">Solo Travel vs. Gender</span></h4>

In [ ]:
# Create and print a cross table of 2 varaibles
gender_by_alone = pd.crosstab(df['alone'], 
                         df['gender'], 
                         values=df['gender'], 
                         aggfunc='count')

# Normalize the values as percentage based on rows("index")
gender_by_alone_pct =gender_by_alone = pd.crosstab(df['alone'], 
                         df['gender'], 
                         values=df['gender'], 
                         aggfunc='count',
                         normalize = "index") 
display(gender_by_alone_pct.style.format("{:.0%}"))
print("\nValues in Count:")

gender_by_alone.style.background_gradient(cmap= "gist_yarg") # Highlight cells based on values

<p><strong><span style="color: #99cc00;">Interpretation:</span></strong></p>
<p><strong><span style="color: #808080;">It is noted that 76% of male travelers accounts to solo travel</span></strong></p>
<ul>

<h4 ><span style="color: #808080;">Distribution of Age vs. fare</span></h4>

In [ ]:
# Create and print a pivot/cross table of 2 varaibles
age_by_fare = df.groupby(['age'], as_index=False).agg({'fare': 'mean'}).round(2)
display(age_by_fare.style.background_gradient(cmap= "gist_yarg")) # Highlight cells based on values

In [ ]:
fig, ax1 = plt.subplots(figsize=(10, 2)) # set figure size
age_by_fare.plot(kind='area', ax=ax1, stacked=False, cmap= "tab20c_r")
ax1.set(ylabel='Fare', title='Age vs. Fare (in USD)');

<p><strong><span style="color: #99cc00;">Interpretation:</span></strong></p>
<p><strong><span style="color: #808080;">There is no clear relation between age and fare</span></strong></p>
<ul>

<h4 ><span style="color: #808080;">Distribution of Class vs. Gender</span></h4>

In [ ]:
# Create and print a pivot/cross table of 2 varaibles
class_by_fare = df.groupby(['class'], as_index=False).agg({'fare': 'mean'}).round(2)
class_by_fare
class_by_fare.style.background_gradient(cmap= "tab20c_r") # Highlight cells based on values

<p><strong><span style="color: #99cc00;">Interpretation:</span></strong></p>
<p><strong><span style="color: #808080;">Average fare of first class is $84.15(USD), second class fare is $21 (USD) and third class fare is $14 (USD). First class fare is almost 4 times the fare of second class</span></strong></p>
<ul>

<h4 ><span style="color: #808080;">Distribution of Type of passengers vs. Fare</span></h4>

In [ ]:
# Create and print a pivot/cross table of 2 varaibles
who_by_fare = (df.groupby(['who'], as_index=False).agg({'fare': 'mean'}).round(2))
who_by_fare
display(who_by_fare.style.background_gradient(cmap= "inferno")) # Highlight cells based on values

# Plot bar chart
sns.barplot(x="who", y="fare", data=who_by_fare)
plt.xlabel("Passenger Type")
plt.ylabel("Average Fare (USD)")
plt.title("Average Fare by Passenger Type")
plt.xticks(rotation=0) 

# Add values on top of each bar
for i, value in enumerate(who_by_fare["fare"]):
    plt.text(i, value + 1, f"{value:.2f}", ha='center', va='bottom')  # Adjust y-axis offset for better visibility
# plt.tight_layout() 
plt.show()

<p><strong><span style="color: #99cc00;">Interpretation:</span></strong></p>
<p><strong><span style="color: #808080;">Women had purchased expensive tickets. Followed by children and male passengers</span></strong></p>
<ul>

<h4 ><span style="color: #808080;">Embarkation Town vs. Fare</span></h4>

In [ ]:
# Create and print a pivot/cross table of 2 varaibles
embark_by_fare = (df.groupby(['embark_town'], as_index=False).agg({'fare': 'mean'}).round(2))
embark_by_fare
display(embark_by_fare.style.background_gradient(cmap= "seismic_r")) # Highlight cells based on values

# Plot bar chart
sns.barplot(x="embark_town", y="fare", data=embark_by_fare)
plt.xlabel("Embark_town")
plt.ylabel("Average Fare (USD)")
plt.title("Average Fare by Embark_town")
plt.xticks(rotation=0) 
# plt.figure(figsize=(4, 3))

# Add values on top of each bar
for i, value in enumerate(embark_by_fare["fare"]):
    plt.text(i, value + 1, f"{value:.2f}", ha='center', va='bottom')  # Adjust y-axis offset for better visibility

plt.tight_layout() 
plt.show()

<p><strong><span style="color: #99cc00;">Interpretation:</span></strong></p>
<p><strong><span style="color: #808080;">Passengers from Cherbourg had paid the highest fare, followed by Southampton and Queenstown. The price difference could be because of distance to destination and Class prefered by passengers</span></strong></p>
<ul>

<h4 ><span style="color: #808080;">Class preference by man, women and child</span></h4>

In [ ]:
# Create and print a pivot/cross table of 2 varaibles
class_by_who_pct =pd.crosstab(df['class'], 
                         df['who'], 
                         values=df['class'], 
                         aggfunc='count',
                          normalize="index")*100 #Normalize to percentage for displaying output
print("Values in %:\n")
display(class_by_who_pct.style.background_gradient(cmap= "cividis")) # Highlight cells based on values

class_by_who =pd.crosstab(df['class'], 
                         df['who'], 
                         values=df['class'], 
                         aggfunc='count') #Cross tab data for heat map
print("\n")

# Plot heat map
fig, ax = plt.subplots(figsize=(4,2.5)) # set figure size
sns.heatmap(class_by_who, annot=True, cmap="cividis", fmt="d")
plt.xlabel("Passenger Type")
plt.ylabel("Passenger Class")
plt.title("Distribution of Passenger Classes by Passenger Type")
plt.xticks(rotation=0);

<p><strong><span style="color: #99cc00;">Interpretation:</span></strong></p>
<p><strong><span style="color: #808080;">~65% of man preferred third class travel.  42% of female preferred First class. And 10~11 children are there in second & third class</span></strong></p>
<ul>

<h4 ><span style="color: #808080;">Mortality vs. Gender</span></h4>

In [ ]:
# Create and print a pivot/cross table of 2 varaibles
print("Values in %:")
class_by_alive = pd.crosstab(df['class'], 
                         df['alive'], 
                         values=df['class'], 
                         aggfunc='count',
                            normalize = "index")*100 #Normalize values
# Rename
class_by_alive_renamed = class_by_alive.rename(columns={'no': 'victims', 'yes': 'alive'}, copy=True)
display(class_by_alive_renamed.style.background_gradient(cmap= "BuPu"))

# Plot heat map
fig, ax = plt.subplots(figsize=(4,2.5)) # set figure size
sns.heatmap(class_by_alive_renamed, cmap="BuPu", annot=True)  # Use integer format 'd'
plt.xlabel("Survival Status")
plt.ylabel("Passenger Class")
plt.title("Distribution of Passenger Classes by Survival Status on the Titanic (Heatmap)")
plt.show()

<p><strong><span style="color: #99cc00;">Interpretation:</span></strong></p>
<p><strong><span style="color: #808080;">Clearly 63% of passengers in the first class(usually the wealthiest on board) had survived. Followed by 47% of passengers survived in second class. 75% of passengers who were travelling in third class lost their life.</span></strong></p>
<ul>

<h4 ><span style="color: #808080;">Passenger class vs. Solo travel</span></h4>

In [ ]:
# Create and print a pivot/cross table of 2 varaibles
class_by_alone = pd.crosstab(df['class'], 
                         df['alone'], 
                         values=df['class'], 
                         aggfunc='count',
                            normalize="index")*100
class_by_alone

# Rename categories in a copy to avoid modifying the original DataFrame
class_by_alone_renamed = class_by_alone.rename(columns={False: 'Travel with company', True: 'Solo travel'}, copy=True)
class_by_alone_renamed
print("Values in %:")
display((class_by_alone_renamed.T).style.background_gradient()) # Highlight cells based on values, tranpose for good readability

class_by_alone_renamed.plot.bar(figsize=(6, 2.5)) # set figure size
plt.xlabel("Passenger Class")
plt.ylabel("Number of Passengers")
plt.title("Number of Passengers by Travel Type and Class on the Titanic")
plt.xticks(rotation=0) ; # Rotate x-axis labels for readability

<p><strong><span style="color: #99cc00;">Interpretation:</span></strong></p>
<p><strong><span style="color: #808080;">Significant passengers from second and third class had traveled alone</span></strong></p>
<ul>

<h4 ><span style="color: #808080;">Distribution of Family Size by Passenger Class</span></h4>

In [ ]:
# Create and print a pivot/cross table of 2 varaibles
class_by_family_size = pd.crosstab(df['class'], 
                         df['family_size'], 
                         values=df['class'], 
                         aggfunc='count')
class_by_family_size=class_by_family_size.T
display(class_by_family_size)

#Plot bar graph
class_by_family_size.plot.bar(figsize=(8, 2.5)) # set figure size
plt.xlabel("Family Size")
plt.ylabel("Counts")
plt.title("Distribution of Family Size by Passenger Class")
plt.xticks(rotation=0);

<p><strong><span style="color: #99cc00;">Interpretation:</span></strong></p>
<p><strong><span style="color: #808080;">There is no clear relation between family size and passenger class</span></strong></p>
<ul>

<h4 ><span style="color: #808080;">Distribution of Embarkation Town by Passenger Class</span></h4>

In [ ]:
# Create and print a pivot/cross table of 2 varaibles
class_by_embark_town = pd.crosstab(df['class'], 
                         df['embark_town'], 
                         values=df['class'], 
                         aggfunc='count')
class_by_embark_town=class_by_embark_town.T #Transpose for readablity
class_by_embark_town

# Plot heat map
print("\nValues in Count:")
fig, ax = plt.subplots(figsize=(4,2.5)) # set figure size
plt.title("Distribution of Embarkation Town by Passenger Class")
sns.heatmap(class_by_embark_town, cmap='coolwarm', annot=True, fmt="d");

<p><strong><span style="color: #99cc00;">Interpretation:</span></strong></p>
<p><strong><span style="color: #808080;">Most of the passengers from Southampton & Queenstown have boarded third class. Cherbourg passengers had preferred first class journey </span></strong></p>
<ul>

<h4 ><span style="color: #808080;">Survival Status Distribution by Passenger Type on the Titanic</span></h4>

In [ ]:
# Create and print a pivot/cross table of 2 varaibles
print("Values in %:")
who_by_alive = pd.crosstab(df['alive'], 
                         df['who'], 
                         values=df['alive'], 
                         aggfunc='count',
                          normalize= "columns")*100 # Normalize columns as percentage

who_by_alive=who_by_alive.T #Transpose fpor reneaming
who_by_alive = who_by_alive.rename(columns={'no': 'Deceased', 'yes': 'Survived'}, copy=True)
who_by_alive=who_by_alive.T
display(who_by_alive.style.background_gradient(cmap= "YlGnBu")) # Highlight cells based on values

# Plot bar graph
(who_by_alive.T).plot(kind='bar',figsize=(8,2), cmap= "YlGnBu") # set figure size
plt.xlabel("Passenger Type")
plt.ylabel("Number of Passengers")
plt.title("Survival Status Distribution by Passenger Type on the Titanic")
plt.xticks(rotation=0)
plt.legend()
plt.show()

<p><strong><span style="color: #99cc00;">Interpretation:</span></strong></p>
<p><strong><span style="color: #808080;">~59% of children survived. 75% of female made alive and only 16% of men survived </span></strong></p>
<ul>

<h4 ><span style="color: #808080;">Travel Type by Passenger Type on the Titanic</span></h4>

In [ ]:
# Create and print a pivot/cross table of 2 varaibles
print("\nValues in %:")
who_by_alone_pct = pd.crosstab(df['alone'], 
                         df['who'], 
                         values=df['who'], 
                         aggfunc='count',
                          normalize= "columns")*100 # Noramlize columns

who_by_alone_pct=who_by_alone_pct.T #Transpose fpr re-naming
who_by_alone_pct = who_by_alone_pct.rename(columns={False: 'Travel With Company', True: 'Solo Travel'}, copy=True) #Rename column values
print(who_by_alone_pct)

#Create count cross tab for heat map
print("\nValues in count:")
who_by_alone = pd.crosstab(df['alone'], 
                         df['who'], 
                         values=df['who'], 
                         aggfunc='count')
who_by_alone=who_by_alone.T
who_by_alone = who_by_alone.rename(columns={False: 'Travel With Company', True: 'Solo Travel'}, copy=True)
who_by_alone=who_by_alone.T
who_by_alone=who_by_alone.T
display((who_by_alone).style.background_gradient(cmap= "YlGnBu")) # Highlight cells based on values

# Plot heat map
fig, ax = plt.subplots(figsize=(4,2.5)) # set figure size
print("\nValues in count:")
sns.heatmap(who_by_alone, annot=True, cmap="YlGnBu", fmt="0F")  # Colormap for clarity
plt.xlabel("Travel Type")
plt.ylabel("Passenger Type")
plt.title("Travel Type by Passenger Type on the Titanic (Heatmap)")
plt.show()

<p><strong><span style="color: #99cc00;">Interpretation:</span></strong></p>
<p><strong><span style="color: #808080;">Almost all children traveled with company. 75% of men had a solo journey. 55% female had travelled with company </span></strong></p>
<ul>

<h4 ><span style="color: #808080;">Family Size vs. Type of passenger</span></h4>

In [ ]:
# Create and print a pivot/cross table of 2 varaibles
print("Values in %:\n")
who_by_family_size = pd.crosstab(df['who'], 
                         df['family_size'], 
                         values=df['who'], 
                         aggfunc='count',
                                normalize="index")*100 #normalize values to percentage based on rows
who_by_family_size=(who_by_family_size)
who_by_family_size.style.background_gradient(cmap= "summer") # Highlight cells based on values

<p><strong><span style="color: #99cc00;">Interpretation:</span></strong></p>
<p><strong><span style="color: #808080;">76% of men travelled alone. 44% of women travelled alone. <br> Maximum family size of 10 is seen. <br> Most of the time a child is accompanied by single parent</span></strong></p>
<ul>

In [ ]:
# Create and print a pivot/cross table of 2 varaibles
print("Values in %:\n")
alive_by_family_size = pd.crosstab(df['alive'], 
                         df['family_size'], 
                         values=df['alive'], 
                         aggfunc='count',
                                normalize="index")*100 #Normalize cross tab values to percentage based on rows
alive_by_family_size=(alive_by_family_size.T) #Transpose for renaming
alive_by_family_size = alive_by_family_size.rename(columns={"no": 'Titanic Victim', "yes": 'Survived'}, copy=True)

#Not taking the first row beacuse it shows value for solo travel
alive_by_family_size=alive_by_family_size.loc[1:8]
alive_by_family_size.style.background_gradient(cmap= "turbo") # Highlight cells based on values

<p><strong><span style="color: #99cc00;">Interpretation:</span></strong></p>
<p><strong><span style="color: #808080;">Ignoring solo travel, <br>
    Passengers accompanied by 1 person had survived by 26%, <br>
    Passengers accompanied by 2 person had survived by 17%, <br>
    Passengers accompanied by 3 person had survived by 6%, <br>
    Passengers accompanied by more than 3 persons had least survived, <br>

</span></strong></p>
<ul>

<h4 ><span style="color: #808080;">Mortality vs. Adult Male</span></h4>

In [ ]:
fig, ax = plt.subplots(figsize=(6,2)) # set figure size

# Create and print a pivot/cross table of 2 varaibles
print("\nValues in %:")
alive_by_adult = pd.crosstab(df['alive'], 
                         df['adult_male'], 
                         values=df['adult_male'], 
                         aggfunc='count',
                            normalize="columns")*100 # Noramalize crosstab values to percentage based on columns

alive_by_adult = alive_by_adult.rename(columns={False: 'Non Adult Male', True: 'Adult Male'}, copy=True)
alive_by_adult = alive_by_adult.T
alive_by_adult = alive_by_adult.rename(columns={"no": 'Titanic Victim', "yes": 'Alive'}, copy=True)
alive_by_adult = alive_by_adult.T
alive_by_adult=alive_by_adult.style.background_gradient(cmap= "Set3") # Highlight cells based on values
display(alive_by_adult)

#Plot bar graph for 2 variable
sns.countplot(x='adult_male', hue='alive', data=df, palette='Set3')
plt.legend(title="survived", labels=['Alive', 'Titanic Victim'], loc=1)#upper right
plt.title("survival by adult male");

<p><strong><span style="color: #99cc00;">Interpretation:</span></strong></p>
<p><strong><span style="color: #808080;">Only 16% of Adult male survived.</span></strong></p>
<ul>

<h4 ><span style="color: #808080;">Distribution of Adult Male vs. Family Size</span></h4>

In [ ]:
# Create and print a pivot/cross table of 2 varaibles
print("Values in %:\n")
fmly_by_adult = pd.crosstab(df['adult_male'], 
                         df['family_size'], 
                         values=df['adult_male'], 
                         aggfunc='count',
                           normalize="index")*100 # Noramalize crosstab values to percentage based on rows

fmly_by_adult = fmly_by_adult.T #Transapose for renaming the column names

#Rename columns
fmly_by_adult = fmly_by_adult.rename(columns={False: 'Non Adult Male', True: 'Adult Male'}, copy=True)
fmly_by_adult = fmly_by_adult.T

 # Highlight cells based on values
fmly_by_adult = fmly_by_adult.style.background_gradient(cmap= "Blues")
display(fmly_by_adult)

#Plot bar graphs
fig, ax = plt.subplots(figsize=(8,2)) # set figure size
sns.countplot(x='family_size', hue='adult_male', data=df, palette='Blues')
plt.legend(title="Adult Male",labels=['Non Adult Male', 'Adult Male'], loc=1)#upper right
plt.title("Family Size by Adult Male");

<p><strong><span style="color: #99cc00;">Interpretation:</span></strong></p>
<p><strong><span style="color: #808080;">~76% adult male have travelled solo and 13% of them travelled with single company</span></strong></p>
<ul>

<h4 ><span style="color: #808080;">Distribution of Adult Male vs. Embrakation Town</span></h4>

In [ ]:
# Create and print a pivot/cross table of 2 varaibles
adult_male_by_embark_town_pct = pd.crosstab(df['embark_town'], 
                         df['adult_male'], 
                         values=df['adult_male'], 
                         aggfunc='count',
                                       normalize="index")*100 # Noramalize crosstab values to percentage based on rows for higligting cells based on value
#Rename column names
adult_male_by_embark_town_pct = adult_male_by_embark_town_pct.rename(columns={False: 'Non Adult Male', True: 'Adult Male'}, copy=True)
adult_male_by_embark_town_pct = adult_male_by_embark_town_pct.T

# print(adult_male_by_embark_town_pct)
# Highlight cells based on values
adult_male_by_embark_town_pct = adult_male_by_embark_town_pct.style.background_gradient(cmap= "crest") # Highlight cells based on values
print("Values in %:\n") 
display(adult_male_by_embark_town_pct)

adult_male_by_embark_town = pd.crosstab(df['embark_town'], 
                         df['adult_male'], 
                         values=df['adult_male'], 
                         aggfunc='count',
                                       normalize="index") # Noramalize crosstab values for bar graph
#Rename column names
adult_male_by_embark_town = adult_male_by_embark_town.rename(columns={False: 'Non Adult Male', True: 'Adult Male'}, copy=True)

#Plot bar graph
adult_male_by_embark_town.plot(kind='bar',figsize=(8,2.5), cmap="crest") # set figure size
plt.xlabel("Embark Town")
plt.ylabel("Number of Passengers")
plt.title("Adult Male Travel vs. Embark Town")
plt.xticks(rotation=0)
plt.legend()
plt.show()

<p><strong><span style="color: #99cc00;">Interpretation:</span></strong></p>
<p><strong><span style="color: #808080;">Cherbourg & Southampton had boarded maximum percentage of Adult male.
</span></strong></p>
<ul>

<h4 ><span style="color: #808080;">Embarkation Port by Passenger's Mortality</span></h4>

In [ ]:
# Create and print a pivot/cross table of 2 varaibles
embark_towne_by_alive_pct = pd.crosstab(df['embark_town'], 
                         df['adult_male'], 
                         values=df['adult_male'], 
                         aggfunc='count',
                                   normalize="index")*100 #Noramalize crosstab values to percentage based on rows for higligting cells based on value
embark_towne_by_alive_pct

print("Values in %:\n")

#Rename column
embark_towne_by_alive_pct = embark_towne_by_alive_pct.rename(columns={False: 'Titanic Victim', True: 'Alive'}, copy=True)
embark_towne_by_alive_pct = embark_towne_by_alive_pct.T

# Highlight cells based on values
embark_towne_by_alive_pct=embark_towne_by_alive_pct.style.background_gradient(cmap= "flare") # Highlight cells based on values
display(embark_towne_by_alive_pct)

embark_towne_by_alive = pd.crosstab(df['embark_town'], 
                         df['adult_male'], 
                         values=df['adult_male'], 
                         aggfunc='count')
embark_towne_by_alive
embark_towne_by_alive = embark_towne_by_alive.rename(columns={False: 'Titanic Victim', True: 'Alive'}, copy=True)

print("\n")
embark_towne_by_alive.plot(kind='bar', figsize=(4.5,2), cmap="flare") # set figure size
plt.xlabel("Embarkation Port")
plt.ylabel("Number of Passengers")
plt.title("Embarkation Port by Passenger's Mortality")
plt.xticks(rotation=0)
plt.legend()
plt.show()

<p><strong><span style="color: #99cc00;">Interpretation:</span></strong></p>
<p><strong><span style="color: #808080;">Cherbourg - 53% of passengers are alive who had boarded from Cherbourg port <br>
Queenstown - ~52% of passengers are alive who had boarded from Queenstown port <br>
Southampton - 63% of passengers are alive who had boarded from Southampton port <br>  
</span></strong></p>
<ul>

<h4 ><span style="color: #808080;">Embarkation Port Vs. Travel Type (solo/accompanied)</span></h4>

In [ ]:
# Create and print a pivot/cross table of 2 varaibles
embark_towne_by_alone_pct = pd.crosstab(df['embark_town'], 
                         df['alone'], 
                         values=df['alone'], 
                         aggfunc='count',
                                   normalize="index")*100 # Noramalize crosstab values to percentage based on rows for higligting cells based on value
embark_towne_by_alone_pct

print("Values in %:\n")
embark_towne_by_alone_pct = embark_towne_by_alone_pct.rename(columns={False: 'Accompanied Travel', True: 'Solo Travel'}, copy=True)
embark_towne_by_alone_pct = embark_towne_by_alone_pct.T

# Highlight cells based on values
embark_towne_by_alone_pct=embark_towne_by_alone_pct.style.background_gradient(cmap= "Set2") # Highlight cells based on values
display(embark_towne_by_alone_pct)

# Sorting Embarked town in graph
embark_town_categories = df['embark_town'].unique()
embark_town_categories = sorted(embark_town_categories)  # Alphabetical sorting

fig, ax = plt.subplots(figsize=(6,1.5)) # set figure size
sns.countplot(x='embark_town', hue='alone', data=df, palette='Set2',  order=embark_town_categories)
plt.legend(title="Travel Type", labels=['Accompanied Travel', 'Solo Travel'], loc=2)#upper right
plt.title("Embarkation Port Vs. Travel Type(solo/accompanied)");

<p><strong><span style="color: #99cc00;">Interpretation:</span></strong></p>
<p><strong><span style="color: #808080;">Queenstown and Southampton has big proportion of solo travel <br>
    Cherbourg has almost the same proportion of solo and accompanied travel 
</span></strong></p>
<ul>

<h4 ><span style="color: #808080;">Family Size by Embark Town</span></h4>

In [ ]:
# Create and print a pivot/cross table of 2 varaibles
fig = plt.figure(figsize=(8.5,2)) # set figure size
embark_towne_by_fmly_size = pd.crosstab(df['embark_town'], 
                         df['family_size'], 
                         values=df['family_size'], 
                         aggfunc='count',
                         normalize="index")*100 # Noramalize crosstab values to percentage based on rows for higligting cells based on value
embark_towne_by_fmly_size

# Highlight cells based on values
embark_towne_by_fmly_size=embark_towne_by_fmly_size.style.background_gradient(cmap= "plasma") 
display(embark_towne_by_fmly_size)

#Plot bar graph
sns.countplot(x='family_size', hue='embark_town', data=df, palette='plasma')
plt.legend(title="Embark Town", loc=1)#upper right
plt.title("Family Size by Embark Town");

<p><strong><span style="color: #99cc00;">Interpretation:</span></strong></p>
<p><strong><span style="color: #808080;">There is no relation between family size and embarkation port</span></strong></p>
<ul>

<h4 ><span style="color: #808080;">Family Size by Sibsp and Parch</span></h4>

In [ ]:
fig = plt.figure(figsize=(10,2)) # set figure size
rect1 = plt.bar(df['family_size'] ,df['sibsp'],
                width=0.5, color='lightblue')
rect2 = plt.bar(df['family_size'], df['parch'],
                width=0.5, color='#1f77b4')

plt.legend((rect1[0], rect2[0]), ('sibsp', 'parch'))
plt.title('Family Size by Sibsp and Parch', fontsize=15)
plt.show()

<p><strong><span style="color: #99cc00;">Interpretation:</span></strong></p>
<p><strong><span style="color: #808080;">Direct relation - Family size is sum of siblings, spouse and parents, children</span></strong></p>
<ul>

<div class="fig">
<div class="fig">
<h1 class="avatar-gutter ng-tns-c4029313283-104 ng-star-inserted"><span style="color: #808080;">Analysis [Multi-variate Analysis]</span></h1>
</div>
</div>

<h4 ><span style="color: #808080;">Correlation Heatmap of numerical variable</span></h4>

In [ ]:
# Analyze Correlations
correlation = df.select_dtypes(include=[np.number]).corr()
correlation
# Calculate correlations of numerical datatypes
sns.heatmap(correlation, annot=True, cmap="PiYG")  # Heatmap of correlations between numerical features
plt.title("Correlation Heatmap")
plt.show()

<p><strong><span style="color: #99cc00;">Interpretation:</span></strong></p>
<p><strong><span style="color: #808080;">Positive correlation in Family size with sibsp and parch (because, Family size = sibsp + parch). No other strong correlation observed among numerical variables</span></strong></p>
<ul>

<h4 ><span style="color: #808080;">Pair plot of Titanic Data (Categorical Features)</span></h4>

In [ ]:
sns.pairplot(df, diag_kind='hist', hue="alive") #plot pair plot for all variables
# plt.suptitle('Pairplot of Titanic Data (Categorical Features)')
# plt.show()

<p><strong><span style="color: #99cc00;">Interpretation:</span></strong></p>
<p><strong><span style="color: #808080;">No visible correlation observed</span></strong></p>
<ul>

<h4 ><span style="color: #808080;">Scatter Plot of Fare, Age, Class, Familysize, Gender, and SibSp in Titanic Data</span></h4>

In [ ]:
fig, ax = plt.subplots(figsize=(12,6)) # set figure size
sns.scatterplot(
    y="age",
    data=df
)

In [ ]:
fig, ax = plt.subplots(figsize=(12,6)) # set figure size
sns.scatterplot(
    x="fare",
    y="age",
    hue="class",  # Color by sex (categorical)
    style="gender",  # Marker style by passenger class (categorical)
    size="family_size",  # Size of point by number of siblings/spouses (numerical)
    data=df
)

plt.xlabel("Fare")
plt.ylabel("Age")
plt.title("Scatter Plot of Fare, Age, Class, Familysize, Gender, and SibSp in Titanic Data")
plt.legend(title="Legends", loc="best")
plt.show()

In [ ]:
df.columns

In [ ]:
import random
plt.scatter(x=df['fare'], y = np.zeros_like(df['age']), s=10, c=df['fare'], cmap='viridis', marker='p')
plt.show()

<p><strong><span style="color: #99cc00;">Interpretation:</span></strong></p>
<p><strong><span style="color: #808080;">Fare is having good mix ranging from $0 (USD) to ~$500 (USD) <br>
Age is having good mix of data ranging from infant to 80-year-old <br>
It can be clearly observed that Fare for first class is at higher end, some of the tickets are sold over $100 (USD) <br>
Fare of second and third class had not crossed >= $100(USD) <br>
There is no clear relation between age and type of class used by passengers. Every class has a mix of all age groups <br>
Family_size data is scattered across age, fare and class. It is worth noting that larger family size has higher frequency in third class  <br>
Gender data is scattered across variable, clearly we can notice that male passengers head count is larger compared to female  






</span></strong></p>
<ul>

In [ ]:
# Create and print a cross table of 2 varaibles
gender_by_alone = pd.crosstab([df["class"],df['alone']], 
                         [df['who'],df['gender']], 
                         values=df['gender'], 
                         aggfunc='count', normalize="index")*100
gender_by_alone

In [ ]:
# Create and print a cross table of 2 varaibles
gender_by_alone = pd.crosstab(df['alone'], 
                         [df['who'],df['gender']], 
                         values=df['gender'], 
                         aggfunc='count', normalize="index")*100
gender_by_alone

In [ ]:
sns.heatmap(pd.crosstab(df['alone'],[df['who'], df['gender']]),cmap="YlGnBu", annot=True, cbar=False, fmt="d");

In [ ]:
# Create and print a cross table of 2 varaibles
gender_by_alone = pd.crosstab(df['alone'], 
                         [df['who'],df['gender']], 
                         values=df['gender'], 
                         aggfunc='count', normalize="index", margins=True, margins_name="Total")*100
gender_by_alone

<div class="lm-Widget jp-RenderedHTMLCommon jp-RenderedMarkdown jp-MarkdownOutput" data-mime-type="text/markdown">
<h1 id="Summary-findings:"><span style="color: #666699;"><em><span style="text-decoration: underline;"><strong>Summary findings:</strong></span></em></span></h1>
</div>


<p><span style="color: #666699;"><strong>Observations from data:</strong></span></p>
<ul>
<li><span style="color: #999999;">Data composed of numerical and categorical values</span></li>
<li><span style="color: #999999;">Data has been cleaned by removing unwanted columns, renaming columns, missing values are replaced by performing imputation</span></li>
<li><span style="color: #999999;">Performed a feature engineering by creating a new variable from existing variable</span></li>
</ul>
<p><span style="color: #666699;"><strong>Observation form Analysis:</strong></span></p>
<ul>
<li><span style="color: #666699;"><strong>Demographics:</strong> </span><br />
<ul>
<li><span style="color: #999999;">Age is having good mix, ranging from infant to 80-year-old </span></li>
<li><span style="color: #999999;">Titanic carried <strong>~65% of male </strong>(inclusive of 5% of male children)</span></li>
<li><span style="color: #999999;">Titanic carried <strong>~60% of men</strong> (exclusive of male child)</span></li>
<li><span style="color: #999999;">Titanic carried <strong>~60% of Adults male</strong> and ~<strong>40% of Female + children</strong></span></li>
<li><span style="color: #999999;"><strong>Southampton has notable male passengers</strong>. Queenstown &amp; Cherbourg has equal distribution of gender</span></li>
<li><span style="color: #999999;"><strong>Age is almost normally distributed</strong> (mean and median are very close). Ranging from infants to 80-year-old passengers.</span></li>
<li><span style="color: #999999;"><strong>Average age of passengers was ~30</strong></span></li>
<li><span style="color: #999999;"><strong>Significant head count of female passengers are observed in age group of 29</strong></span></li>
<li><span style="color: #999999;">Children are almost distributed equally in terms of gender<strong> (Children - male - 52% and female - 48%)</strong></span></li>
</ul>
</li>
<li><span style="color: #666699;"><strong>Voyage details:</strong></span>
<ul>
<li><span style="color: #666699;"><strong>Fare:</strong></span>
<ul>
<li><span style="color: #999999;"><strong>Fare is having good mix ranging from $0 (USD) to ~$500 (USD) </strong></span></li>
<li><span style="color: #999999;"><strong>Average price paid for voyage is 32(USD)</strong>. <strong>14(USD) is the most purchased ticket</strong></span></li>
<li><span style="color: #999999;"><strong>Women had purchased expensive tickets.</strong> Followed by children and male passengers</span></li>
<li><span style="color: #999999;"><strong>Average fare of first class is 84.15(USD)</strong>, <strong>second class fare is 21(USD)</strong> and <strong>third class fare is 14(USD)</strong>. First class fare is almost 4 times the fare of second class</span></li>
<li><span style="color: #999999;"><strong>Passengers from Cherbourg had paid the highest fare</strong>, followed by Southampton and Queenstown. The price difference could be because of distance to destination and Class preferred by passengers</span></li>
<li><span style="color: #999999;">Fare for first class is at higher end, some of the tickets are sold over 100(USD) for first class</span></li>
<li><span style="color: #999999;">Fare of second and third class had not crossed &gt;= 100(USD)</span></li>
</ul>
</li>
<li><span style="color: #666699;"><strong>Travel Preference:</strong></span>
<ul>
<li><span style="color: #999999;"><strong>~60% of them were solo travelers</strong> in Titanic Voyage. Majority of <strong>passengers were accompanied by either parents and children</strong></span></li>
<li><span style="color: #999999;">Most of the passengers were <strong>accompanied by a single family member</strong> (exclusive of solo travelers)</span></li>
<li><span style="color: #999999;"><strong>76% of male</strong> travelers accounts to <strong>solo travel</strong></span></li>
<li><span style="color: #999999;"><strong>Significant passengers from second and third class had traveled alone</strong></span></li>
<li><span style="color: #999999;"><strong>Almost all children traveled with company</strong></span></li>
<li><span style="color: #999999;"><strong> 55% female had travelled with company</strong></span></li>
<li><span style="color: #999999;">Maximum family size of passengers was 10 </span></li>
<li><span style="color: #999999;">Most of the time, children<strong> were accompanied by single parent</strong></span></li>
<li><span style="color: #999999;">13% of male travelled with single company</span></li>
<li><span style="color: #999999;"><strong>Queenstown and Southampton has big proportion of solo travel</strong></span></li>
<li><span style="color: #999999;"><strong>Cherbourg has almost the same proportion of solo and accompanied travel</strong> </span></li>
</ul>
</li>
<li><span style="color: #666699;"><strong>Travel Port Preference:</strong></span><br />
<ul>
<li><span style="color: #999999;"><strong>~73% of passengers have embarked from Southampton</strong>, ~19% from Cherbourg &amp; ~9% from Queens town</span></li>
<li><span style="color: #999999;">&nbsp;<strong>Cherbourg &amp; Southampton</strong> had maximum embarkation of Adult male</span></li>
</ul>
</li>
<li><span style="color: #666699;"><strong>Preferred class of accommodation:</strong></span><br />
<ul>
<li><span style="color: #999999;">Titanic carried <strong><strong>~55% of passengers in third class</strong>, 21% - second class </strong>and<strong> 24% - third class</strong></span></li>
<li><span style="color: #999999;"><strong>~65% of man preferred third class travel.</strong> <strong>42% of female preferred First class.</strong> And 10~11% of children were there in second &amp; third class&nbsp;(This could be based on affordability of passengers and comfort)</span></li>
<li><span style="color: #999999;"><strong>Most of the passengers from Southampton &amp; Queenstown have boarded third class</strong></span></li>
<li><span style="color: #999999;"><strong>Cherbourg passengers had preferred first class journey</strong> </span></li>
<li><span style="color: #999999;">It is worth noting that <strong>larger family size has higher frequency in third class</strong> </span></li>
</ul>
</li>
<li><span style="color: #666699;"><strong>Titanic Survival:</strong></span>
<ul>
<li><span style="color: #999999;">Almost <strong>62% of passengers deceased in Titanic disaster</strong></span></li>
<li><span style="color: #999999;">It is clear that<strong> 68% were female survivors </strong>compared to male</span></li>
<li><span style="color: #999999;"><strong>Clearly 63% of passengers in the first class(</strong>usually the wealthiest on board) had survived. Followed by 47% of passengers survived in second class. <strong>75% of passengers in third class lost their lives</strong></span></li>
<li><span style="color: #999999;"><strong>~59% of children survived</strong></span></li>
<li><span style="color: #999999;"><strong>75% of female made alive</strong> and only <strong>16% of men survived</strong> </span></li>
<li><span style="color: #999999;"><strong>Southampton - 63% of passengers were alive </strong>who had boarded from Southampton port</span></li>
<li><span style="color: #999999;"><strong>Cherbourg - 53% of passengers were alive </strong>who had boarded from Cherbourg port</span></li>
<li><span style="color: #999999;"><strong>Queenstown - ~52% of passengers were alive </strong>who had boarded from Queenstown port</span></li>
<li><span style="color: #999999;"><strong>Passengers accompanied by more than 3 persons were least survived</strong></span></li>
<li><span style="color: #999999;"><strong>Passengers accompanied by 1 person had survived by 26%,</strong></span></li>
<li><span style="color: #999999;"><strong>Passengers accompanied by 2 people had survived by 17%,</strong></span></li>
<li><span style="color: #999999;"><strong>Passengers accompanied by 3 people had survived by 6%,</strong></span></li>
</ul>
</li>
<li><span style="color: #666699;"><strong>Other observations:</strong></span>
<ul>
<li><span style="color: #999999;">There is <strong>no clear relation between age and fare</strong></span></li>
<li><span style="color: #999999;">There is <strong>no clear relation between family size and passenger class</strong></span></li>
<li><span style="color: #999999;"><strong>Positive correlation in Family size with sibsp and parch</strong> (because, Family size = sibsp + parch)</span></li>
<li><span style="color: #999999;"><strong>No other strong correlation observed among numerical variables</strong></span></li>
<li><span style="color: #999999;"><strong>There is no relation between family size and embarkation port</strong></span></li>
<li><span style="color: #999999;"><strong>There is no clear relation between age and type of class used by passengers</strong></span></li>
</ul>
</li>
</ul>
</li>
</ul>
<p>&nbsp;</p>

In [ ]:
fig, ax = plt.subplots(figsize=(12,6)) # set figure size
sns.scatterplot(
    x="fare",
    y="age",
    hue="class",  # Color by sex (categorical)
    style="alive",  # Marker style by passenger class (categorical)
    size="family_size",  # Size of point by number of siblings/spouses (numerical)
    data=df,
    alpha=0.5
)

plt.xlabel("Fare")
plt.ylabel("Age")
plt.title("Scatter Plot of Fare, Age, Class, Familysize, Gender, and SibSp in Titanic Data")
plt.legend(title="Legends", loc="best")
plt.show()